.sidebar {
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* link actual */
  .sidebar a.active {
    background-color: #36AA54;
    color: white;
  }
  
  /* Links al mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #005015;
    color: white;
  }
  
  /* contenido de la página */
  div.content {
    background-size: 100%;
    
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  p{
    font-family: 'Trebuchet MS';
  }
  h1{
    font-family: 'Trebuchet MS';
  }
  h2{
    font-family: 'Trebuchet MS';
  }

  
  /*Elementos alineados a al dcha*/
.img-derecha{
  background-color: #E3B448;
  float: right;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 30px;
  width: 300px;
}
/*Elementos alineados a al izqda*/
.img-izquierda{
  background-color: #E3B448;
  float: left;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 30px;
  width: 300px;
}


/*RESPONSIVE COSAS NOSEQUE*/


  /* para tablets */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* para móviles */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }